
table {
    margin: 0 auto;
}

tr {
    box-shadow: #DDD inset 0 -0.05em;
}

th {
    padding: 1em 1em;
    text-align: left;
}

td {
    padding: 0.38em 1em;
}

.short {
    width: 5em;
}

.long {
    width: 12em;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
}

.selected {
    background-color: #C0D8FF;
}

.active {
    color: #303030;
}

.finished {
    color: #00A000;
}

.dismissed {
    color: #A00000;
}



.big-button {
    padding: 1em;
    font-size: 1em;

    background-color: #0D3C88;
    color: #FFF;

    border-radius: 0.25em;
}